mixin result()
  section.results&attributes(attributes)
    h2.visually-hidden!= "Результаты"
    +sorting().results__sorting
    ol.results__list
      li.results__item.product
        .product__header
          .product__price
            span.product__price-value!= "13 400 "
            span.product__currency.rouble!= "₽"
          .product__image
            +picture("content", "logo-s7", "png", 110, 36, "S7")
        .product__content
          table.product__table
            tr
              th.product__table-col.product__table-title!= "MOW – HKT"
              th.product__table-col.product__table-title!= "В пути"
              th.product__table-col.product__table-title!= "2 пересадки"
            tr
              td.product__table-col.product__table-value!= "10:45 – 08:00"
              td.product__table-col.product__table-value!= "21ч 15м"
              td.product__table-col.product__table-value!= "HKG, JNB"
          table.product__table
            tr
              th.product__table-col.product__table-title!= "MOW – HKT"
              th.product__table-col.product__table-title!= "В пути"
              th.product__table-col.product__table-title!= "2 пересадки"
            tr
              td.product__table-col.product__table-value!= "10:45 – 08:00"
              td.product__table-col.product__table-value!= "21ч 15м"
              td.product__table-col.product__table-value!= "HKG, JNB"
